<h1>Form to create a user</h1>

<form action=<%= users_url%> method="POST">
    <label> Username
        <input type="text" name="user[username]" value="">
    </label>

    <label> Password
        <input type="text" name="user[password]" value="">
    </label>

    <input type="submit" value="SIGN UP">

</form>