<form action=<%= track_notes_url(params[:track_id]) %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token%>>
  <textarea name="note[body]"></textarea>

  <input type="submit" value="Submit">
</form>